<p class="navbar">
  <mat-toolbar style="background-color: white; height: 80px;">
    <a class="logo" href="/">Polylink</a>
    <div class = "navlinks">
      <button mat-flat-button style="color: rgb(82, 82, 82);" routerLink="/templates">Templates</button>
      <button mat-flat-button style="color: rgb(82, 82, 82);" >Basic</button>
    </div>
    <span class="example-spacer"></span>
    <div>
      <button mat-flat-button class="login" routerLink="/login">Login</button>
      <button mat-raised-button class="signup" routerLink="/signup" >Sign Up</button>
    </div>
  </mat-toolbar>
</p>
<div *ngIf = "router.url === '/'">
<div class="elem1">
  <mat-grid-list cols="2" >
    <mat-grid-tile>
      <div class = "title1">
        <h1>Everything you are. In one, simple link in bio.</h1>
        <h3>One link to help you share everything you create, curate and sell from your Instagram, TikTok, T
          witter, YouTube and other social media profiles.</h3>  
      </div>
      </mat-grid-tile>
    <mat-grid-tile>
      <img src="../assets/4.png" alt="">
    </mat-grid-tile>
  </mat-grid-list>
</div>
<div style="background-color: #254f1a;">
  <mat-grid-list cols="2" >
    <mat-grid-tile>
      <img src="../assets/1.png" alt="">
    </mat-grid-tile>
    <mat-grid-tile>
      <div class = "title2">
        <h1>Create and customize your Polylink in minutes</h1>
        <h3>Connect your TikTok, Instagram, Twitter, website, store, videos, music, podcast, 
          events and more. It all comes together in a link in bio landing page designed to convert.</h3>  
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<div style="background-color: #e9c0e9;">
  <mat-grid-list cols="2" >
    <mat-grid-tile>
      <div class = "title3">
        <h1>Share your Linktree from your Instagram, TikTok, Twitter and other bios</h1>
        <h3>Add your unique Linktree URL to all the platforms and places you find your audience. 
          Then use your QR code to drive your offline traffic online.</h3>  
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <img src="../assets/2.png" class="img">
    </mat-grid-tile>
  </mat-grid-list>
</div>
</div>
<router-outlet></router-outlet>
