<p class="navbar">
  <mat-toolbar style="background-color: white; height: 80px;">
    <a class="logo">My App</a>
    <div class = "navlinks">
      <button mat-flat-button style="color: rgb(82, 82, 82);" routerLink="/templates">Templates</button>
      <button mat-flat-button style="color: rgb(82, 82, 82);" >Basic</button>
    </div>
    <span class="example-spacer"></span>
    <div>
      <button mat-flat-button class="login" routerLink="/login">Login</button>
      <button mat-raised-button class="signup" routerLink="/signup" >Sign Up</button>
    </div>
  </mat-toolbar>
</p>
<div *ngIf = "router.url === '/'">
<div>
  <mat-grid-list cols="2" >
    <mat-grid-tile>
      <h1 style="padding-left: 60px;  color: #e9c0e9;font-weight: 900; font-size: 60px; line-height: 60px;">Everything you are. In one, simple link in bio.</h1>
    </mat-grid-tile>
    <mat-grid-tile>
      <img src="../assets/1.png" alt="">
    </mat-grid-tile>
  </mat-grid-list>
</div>
<div style="background-color: #254f1a;">
  <mat-grid-list cols="2" >
    <mat-grid-tile>
      <img src="../assets/1.png" alt="">
    </mat-grid-tile>
    <mat-grid-tile>
      <h1 style="padding-right: 60px;  color: #d2e823;font-weight: 900; font-size: 60px; line-height: 60px;">Everything you are. In one, simple link in bio.</h1>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<div style="background-color: #e9c0e9;">
  <mat-grid-list cols="2" >
    <mat-grid-tile>
      <h1 style="padding-left: 60px;  color: #502274;font-weight: 900; font-size: 60px; line-height: 60px;">Everything you are. In one, simple link in bio.</h1>
    </mat-grid-tile>
    <mat-grid-tile>
      <img src="../assets/1.png" alt="">
    </mat-grid-tile>
  </mat-grid-list>
</div>
</div>
<router-outlet></router-outlet>
