<div style="text-align: center; align-items: center;padding: 20px; margin:90px">
    <div>
        <h1 style="font-weight: 600; font-size: 30px;">One final step! We need to verify your email </h1>
        <h3 style="font-weight: 400;">Please check your inbox for verification code sent.</h3>
    </div>
    <div >
        <p style="margin-top: 50px; font-size: 15px; font-weight: 400;">Enter your code</p>
        <code-input [isCodeHidden]="false"
        [codeLength]="4"
        (codeCompleted)="onCodeCompleted($event)">
        </code-input>
        <button mat-raised-button type="submit" (click)="submit()">Verify</button>
        <p style="margin-top: 10px; font-size: 15px; font-weight: 400;">can't find it? Please check your spam folder.</p>

    </div>
</div>