<div>
    <mat-grid-list cols="2" >
      <mat-grid-tile class="grid2">
        <img src="../../assets/2.png" alt="">
      </mat-grid-tile>
      <mat-grid-tile>
        <form   [formGroup] = "userForm" (ngSubmit) = "onFormSubmit()" class="example-form">
            <h1>Join Polylink</h1>
            <h3>Sign up for free!</h3>
            <mat-form-field  class="example-full-width">
              <mat-label>Username</mat-label>
              <input  autocomplete="off" matInput formControlName = 'username'>
            </mat-form-field>
            <mat-form-field  class="example-full-width">
              <mat-label>Email</mat-label>
              <input matInput autocomplete="off" formControlName = 'email'>
            </mat-form-field>
            <mat-form-field  class="example-full-width">
              <mat-label>password</mat-label>
              <input matInput autocomplete="off" formControlName = 'password'>
            </mat-form-field>
            <button mat-raised-button type="submit">Create account</button>
            <p>Already have an account? <a href="/login">Log in</a></p>
          </form>          
      </mat-grid-tile>
    </mat-grid-list>
  </div>