<div class="product">
    <h1 class="title">Add Product </h1>
    <form  [formGroup] = "productForm" (ngSubmit) = "onFormSubmit()" class="example-form">
        <mat-form-field appearance="outline"  class="example-full-width">
          <mat-label>Product name</mat-label>
          <input matInput placeholder=""  formControlName = 'packagename'>
          </mat-form-field>
        <mat-form-field appearance="outline"  class="example-full-width">
          <mat-label>Product package</mat-label>
          <mat-select formControlName="packageitems">
            <mat-option *ngFor="let item of ListPackage" [value]="item"> {{item}} </mat-option>
        </mat-select>
          </mat-form-field>
        <mat-form-field appearance="outline"  class="example-full-width">
            <mat-label>single price</mat-label>
            <input matInput type="number" formControlName ="singleprice">
            </mat-form-field>
        <mat-form-field appearance="outline"  class="example-full-width">
                <mat-label>wholsales price</mat-label>
                <input matInput type="number" formControlName="wholsalesprice">
        </mat-form-field>
        <div  class="action">
          <button mat-raised-button mat-dialog-close type="reset" color="warn" (click)="clear()">clear</button>
          <button mat-raised-button color="primary" type="submit">submit<!-- {{data ? "update":"Save"}} --></button>
        </div>
      </form>
      
</div>

<section class="example-container mat-elevation-z8" tabindex="0">

    <table mat-table [dataSource]="dataSource" >    
      <!-- package name Column -->
      <ng-container matColumnDef="package name">
        <th mat-header-cell *matHeaderCellDef> package name </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
    
      <!-- package items Column -->
      <ng-container matColumnDef="package items">
        <th mat-header-cell *matHeaderCellDef> package items </th>
        <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
      </ng-container>
    
      <!-- single price Column -->
      <ng-container matColumnDef="single price" required>
        <th mat-header-cell *matHeaderCellDef> single price </th>
        <td mat-cell *matCellDef="let element"> {{element.LastName}} </td>
      </ng-container>
    
      <!-- wholsales price Column -->
      <ng-container matColumnDef="wholsales price">
        <th mat-header-cell *matHeaderCellDef> wholsales price </th>
        <td mat-cell *matCellDef="let element"> {{element.Email}} </td>
      </ng-container>
    
      <!-- Created Date Column -->
      <ng-container matColumnDef="Created Date">
        <th mat-header-cell *matHeaderCellDef> Created Date </th>
        <td mat-cell *matCellDef="let element"> {{element.Birth | date}} </td>
      </ng-container>
    
    <!-- Action Column -->
    <ng-container matColumnDef="Action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element">  
        <button mat-icon-button color="primary" (click)="Update(element)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="Delete(element.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</section>
